:root {
  --banner: rgb(54, 58, 57);
  --background: rgb(74, 99, 103);
}

@media (max-width: 768px) {
  .facePage {
    min-height: 80vh;
  }
  .aboutPage {
    max-width: 400;
  }
}

@media (min-width: 768px) {
  .splashCard {
    transform: translateY(60px);
    opacity: 80%;
  }
  .dsktopCard {
  }
}

header {
  opacity: 70%;
}

.facePage {
  background-image: url(https://images.unsplash.com/photo-1443527394413-4b820fd08dde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
  height: 50vh;
  background-position: center;
  background-size: cover;
}

.glassCard {
  background-color: rgb(182, 182, 182);
  border: 1px solid rgb(122, 122, 122);
  opacity: 75%;
}

.titleFont {
  font-family: "Sofia", cursive;
}

.bannerBar {
  background-color: var(--banner);
}

.roundBox {
  border-radius: 10px;
}

.aboutPage {
  height: 35vh;
}

.bgMain {
  background-color: var(--background);
}

.rvwCard {
  border: solid rgb(89, 89, 89) 2px;
  background-color: rgb(44, 84, 100);
}
