:root {
  --banner: rgb(54, 58, 57);
  --background: rgb(26, 66, 73);
}

@media (max-width: 768px) {
  .facePage {
    min-height: 80vh;
  }
  .aboutPage {
    max-width: 400;
  }
  .dsktopCard {
    display: none;
  }
}

@media (min-width: 768px) {
  .splashCard {
    transform: translateY(60px);
    opacity: 80%;
  }
}

a {
  text-decoration: none;
  color: black;
}

header {
  opacity: 70%;
}

.srvc {
  height: 50vh;
}

.facePage {
  background-image: url(https://images.unsplash.com/photo-1443527394413-4b820fd08dde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
  height: 50vh;
  background-position: center;
  background-size: cover;
}

.glassCard {
  background-color: rgb(182, 182, 182);
  border: 1px solid rgb(122, 122, 122);
  opacity: 75%;
}

.titleFont {
  font-family: "Sofia", cursive;
}

.bannerBar {
  background-color: var(--banner);
}

.roundBox {
  border-radius: 10px;
}

.aboutPage {
  height: 35vh;
}

.bgMain {
  background-color: var(--background);
}

.rvwCard {
  border: solid rgb(103, 103, 103) 2px;
  background-color: rgb(67, 129, 154);
  box-shadow: 0px 0px 3px gray;
}

.rvwBack {
  background-position: center;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1554118811-1e0d58224f24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1147&q=80);
}

.boxBreak {
  border-top: 3px solid black;
  border-bottom: 2px solid black;
  box-shadow: 0px 0px 10px gray;
}
